.bg-dark{
    background-color: black;
}

.product__name{
    background-color: #7c7c7c;
    color:  #d7d7d7;
    font-size:1.5rem;
}

.product__button{
    @extend .btn;
    border-radius:0;
    color:white;
    background-color:black;
    align-items:center;
    border-right: 1px solid gray;
    &:hover{
        background-color: #91ea29;
    }
}

.product__view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


body{
    width:100%;
}

.container{
    max-width:100%;
    padding:0;
    margin:0;
}

.remove-border-radius{
    border-radius: 0;
}